.jumbotron{
	padding: 6rem 4rem;
}
.table{
    font-size: 21px;
    font-weight: 300;
    margin: 30px 0 0;
}
.jumbotron div.card{
	text-align: center;
}
.jumbotron div.card-header {
	font-size: 3.5rem;
	text-align: center;
	
}
.jumbotron p.card-text {
	text-align: center;
	color: white !important;
	font-size: 3.5rem;
}

.jumbotron div.accordion div.card-header{
	text-align: left;
}
.jumbotron div.accordion div.card-header button.btn.btn-link, .footer{
    font-size: 21px;
    font-weight: 200;
}
.btn-link:focus, .btn-link:hover {   
    text-decoration: none;
}
.jumbotron div.accordion div.card-body{
    font-size: 21px;
    font-weight: 200;
	text-align: justify;
}
ul {
    margin: 35px;
    padding: 0;
}
.form-group{
	font-size: 21px;
    font-weight: 300;
}
.form-control{
	font-size: 21px;
    font-weight: 300;
}
.btn, .alert{
	font-size: 21px;
    font-weight: 300;
	line-height: 1.5;
}
.footer{
	padding: 1em 1em;
}

label{
    font-weight: 300;
}

@media screen and (max-width: 640px) {
	.table{
		font-size: 17px;
	}
	.jumbotron div.card-header {
		font-size: 2.5rem;		
	}
	.jumbotron p.card-text {
		font-size: 2.5rem;
	}
	.jumbotron div.accordion div.card-header button.btn.btn-link{
		font-size: 17px;
	}
	.jumbotron div.accordion div.card-body{
		font-size: 17px;
	}
	.jumbotron p{
		font-size: 17px;
	}
	.display-4 {
    font-size: 2.8rem;
	}
}
@media (min-width: 576px){
	.jumbotron{
		padding: 5rem 5rem;
	}	
}