.jumbotron{
	padding: 6rem 4rem;
}
.video{
    margin: 15px 0;
}
.table{
    font-size: 21px;
    font-weight: 300;
    margin: 30px 0 0;
}
.jumbotron div.card{
	text-align: center;
}
.jumbotron div.card-header {
	font-size: 3.5rem;
	text-align: center;
}
.jumbotron p.card-text {
	text-align: center;
	color: white !important;
	font-size: 3.5rem;
}

.jumbotron div.accordion div.card-header{
	text-align: left;
}
.jumbotron div.accordion div.card-header button.btn.btn-link, .footer{
    font-size: 21px;
    font-weight: 200;
	white-space: normal;
}
.project_title{
	position: absolute;
    text-align: center;
    width: 100%;
	font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
	text-shadow: 2px 2px 2px black;
    color: white;
    font-weight: 400;
    font-size: 8rem;
	margin-top: 5rem;
}
.project_subtitle{
	font-size: 5rem;
}
.btn-link:focus, .btn-link:hover {   
    text-decoration: none;
}
.jumbotron div.accordion div.card-body{
    font-size: 21px;
    font-weight: 200;
	text-align: justify;
}
ul {
    margin: 35px;
    padding: 0;
}
.form-group{
	font-size: 21px;
    font-weight: 300;
}
.form-control{
	font-size: 21px;
    font-weight: 300;
}
.btn, .alert{
	font-size: 21px;
    font-weight: 300;
	line-height: 1.5;
}
.footer{
	padding: 1em 1em;
}
.line15{
	line-height: 1.5;
}
label{
    font-weight: 300;
}

.navbar {
    margin-bottom: 0px;
	float: left;
}

a.navbar-brand {
    float: left;
    height: 100%;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}

.form-inline {
    display: -ms-flexbox;
    display: inline-block;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -ms-flex-align: center;
    align-items: center;
}

@media screen and (max-width: 640px) {
	.col-12{
		margin-bottom: 30px;
	}
	.table{
		font-size: 17px;
	}
	.jumbotron div.card-header {
		font-size: 2.5rem;		
	}
	.jumbotron p.card-text {
		font-size: 2.5rem;
	}
	.jumbotron div.accordion div.card-header button.btn.btn-link{
		font-size: 17px;
	}
	.jumbotron div.accordion div.card-body{
		font-size: 17px;
	}
	.jumbotron p{
		font-size: 17px;
	}
	.display-4 {
		font-size: 2.8rem;
	}
	.jumbotron{
		padding: 3rem 2rem;
	}
	.project_title{
		position: absolute;
		text-align: center;
		width: 100%;
		font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
		text-shadow: 1px 1px 1px black;
		color: white;
		font-weight: 400;
		font-size: 4rem;
		margin-top: 2rem;
	}
	.project_subtitle{
		font-size: 2.5rem;
	}
}
@media (min-width: 576px){
	.jumbotron{
		padding: 5rem 5rem;
	}	
}
@media screen and (max-width: 1000px) {
	.project_title{
		font-size: 6rem;
		padding: 0.5rem 1.5rem;
	}
	.project_subtitle{
		font-size: 4rem;
	}
}
@media screen and (max-width: 770px) {
	.project_title{
		font-size: 4rem;
		padding: 0.5rem 1.5rem;
	}
	.project_subtitle{
		font-size: 3rem;
	}
}
@media screen and (max-width: 420px) {
	.project_title{
		font-size: 2.2rem;
		padding: 0.5rem 1.5rem;
	}
	.project_subtitle{
		font-size: 1.5rem;
	}
}